$primary:     #B97F6D;
$secondary:   #ededee;
$third:       #123132;
$fourth :     #20303c;

$dark-green:  #244d4f;

$white:       #ffffff;
$dark-gray:   #d0d0d0;
$black:       #000000;

$gray:        #e1e1e1
